@model Pizza
@{
    string[] ingredienti = Model.Ingredients.Split(",");

    bool photoPresent = true;

    if(Model.Photo == null)
    {
        photoPresent = false;
    }
}

<main class="patter-background p-3 pt-5 pb-5 welcome-wrapper d-flex flex-column align-items-center h-100 w-100 justify-content-center">

    <h4 class="fw-bold mb-3"><a asp-controller="Pizza" asp-action="Menu">Torna al Menù</a></h4>

    <section class="pizza-detail container col-12 col-lg-9 col-xl-8 d-flex-column d-md-flex p-2 p-sm-3 p-md-5">

        <div class="col-12 col-md-6 d-flex justify-content-center position-relative">

            <div class="price-details position-absolute d-flex justify-content-center align-items-center p-1">
                <h5 class="m-0 fw-bold">@Model.Price €</h5>
            </div>


            @if (photoPresent)
            {
                <img class="pizza-img" src="@Model.Photo" alt="foto-pizza"/>
            }
            else
            {
                <img class="w-75 pizza-img" src="/img/back-no-pizza.png" alt="back-no-pizza"/>
            }   
        </div>

        <div class="col-12 col-md-6 d-flex flex-column">

            <h2 class="text-center text-name" >@Model.Name</h2>

            <div class="ingredients-wrapper pt-3 p-4 p-sm-5  flex-grow-1">

                <p  class="mb-2 fw-bold">@ViewData["Category"]</p>




                <p  class="mb-2 fw-bold">Ingredienti:</p>

                <ul>
                    @foreach(string ingrediente in ingredienti)
                    {
                        if(ingrediente != "")
                        {
                            <li class="ms-4">@ingrediente</li>
                        }
                    }
                </ul>
            </div>

            <div class="mb-2 pt-3 d-flex justify-content-evenly">
                <a asp-controller="Pizza" asp-action="Edit" asp-route-id="@Model.Id">
                    <button type="submit" class="pizz_button change_button">
                        Modifica
                    </button>
                </a>
                    
                <button type="submit" class="pizz_button delete_button">
                    Elimina
                </button>
            </div>
        </div>

    </section>

    <section class="confirm-delete d-none position-absolute m-3 p-4 text-center">
        <h5 class="mb-4">Vuoi davvero eliminare @Model.Name?</h5>

        <div class="d-flex justify-content-evenly">

            <button type="submit" class="pizz_button change_button btn-no">
                NO
            </button>

            <form asp-controller="Pizza" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                @Html.AntiForgeryToken()
                <button type="submit" class="pizz_button delete_button">
                    Si
                </button>
            </form>
        </div>
    </section>
</main>



@section Scripts{

    <script>
        const btn_delete = document.querySelector(".delete_button");
        const confirmDelete = document.querySelector(".confirm-delete");
        const btn_no = document.querySelector(".btn-no");

        btn_delete.addEventListener('click', () => {
            confirmDelete.classList.remove("d-none");
        });

        btn_no.addEventListener('click', () => {
            confirmDelete.classList.add("d-none");
        });
    </script>

}