
@model List<Pizza>

@{
    IEnumerable<Category> categories = ViewData["Categories"] as IEnumerable<Category>;
}

<main class="patter-background p-3 welcome-wrapper d-flex flex-column align-items-center h-100 w-100 justify-content-center">

    @if(Model.Count() == 0)
    {
        <div class="p-3 text-center">
            <h1>Attualmente non è presente nessuna pizza nella nostra applicazione!</h1>
        </div>
    }

    else
    {
        <div class="container-fluid container-lg d-flex justify-content-center gap-4 mb-4 mt-4 flex-wrap">

             <button id="all" class="pizz_button active btn_category col-12 col-sm-5 col-md-3">
                   Tutte
               </button>

            @foreach(Category category in categories)
            {
               <button id="@category.Id" class="pizz_button btn_category col-12 col-sm-5 col-md-3">
                   @category.Name
               </button>
            }
        </div>


        <div class="container-fluid container-lg d-flex justify-content-center flex-wrap gap-4 p-3 flex-grow-1">

            <ul>
                @foreach(Pizza pizza in Model)
                {
                    <li data-pizza="@pizza.CategoryId" class="pizza-wrapper d-flex flex-column justify-content-center align-content-center  text-center p-4 position-relative mb-3">

                        <a asp-area="" asp-controller="Pizza" asp-action="Details" asp-route-id="@pizza.Id">

                        @*Immagine e prezzo*@
                        <div class="img-wrapper mb-3 m-auto">

                            @if (@pizza.Photo != null)
                            {
                                <img src="@pizza.Photo" alt="foto-pizza"/>
                            }
                            else
                            {
                                <img src="/img/back-no-pizza.png" alt="back-no-pizza"/>
                            }

                            @*prezzo*@
                            <div class="price-wrap d-flex justify-content-end">
                            <p class="price-pizza m-0 pe-2">@pizza.Price €</p>
                            </div>
                        </div>

                        @*Nome pizza*@
                        <h3 class="text-name">@pizza.Name</h3>

                        </a>                    
                    </li>
                }
            </ul>              

        </div>
    }
    
</main>


@section Scripts{
<script>

const btn_categories = document.querySelectorAll(".pizz_button");
const pizza_wrapper = document.querySelectorAll(".pizza-wrapper");

for (i = 0; i < btn_categories.length; i++) {

    const btn = btn_categories[i];
    const id = btn_categories[i].id;

    btn.addEventListener('click', () => {

        btn_categories.forEach(myFunction);

        function myFunction(value, index, array) {
            value.classList.remove("active");            
        }

       btn.classList.add("active");
        
        for (j = 0; j < pizza_wrapper.length; j++) {

            pizza_wrapper[j].classList.add("d-none");

            if (pizza_wrapper[j].dataset.pizza == id) {

                 pizza_wrapper[j].classList.remove("d-none");

            }else if (id == "all") {

                pizza_wrapper[j].classList.remove("d-none");
            }            
        }
    });
}
</script>
}